:root {
    --html: #89ff90;
}


@font-face {
  font-family: 'Nova Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/novaround/v14/flU9Rqquw5UhEnlwTJYTUYDUeA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    font-family: 'Nova Round';
}

.container-md {
    transform: scale(.7);
    margin-bottom: 10px;
}

.workexample {
    text-align: center;
    margin-top: 20px;
}

body {
    background-color: var(--html);
}

.container {
    transform: translateY(-30px);
}

.navbar-text {
    color: rgba(255,255,255,.55);
}

header {
    background-color: limegreen;
}

a:hover {
    color: black !important;
}

a {
    color: #0d6efd;
    text-decoration: underline;
    transition: 500ms ease-in-out;
}

.navbar-text a {
    color: rgba(255,255,255,.55);
}

.discordInvite {
    transform: translateY(-33px);
    margin-bottom: 10px;
}