	html {
    background-color: black;
    color: white;
    font-family: cursive;
	}

	table {
  	font-family: arial, sans-serif;
  	border-collapse: collapse;
  	width: 50%;
  	align-content: center;
	}

	td, th {
  	border: 1px solid #dddddd;
 	text-align: left;
  	padding: 8px;
	}

	tr:nth-child(even) {
    background-color: #ffffff85;
    color: black !important;
}


	#greeting {
    position: relative;
    top: -250px;
}


	p.intro {
    position: relative;
    width: 50%;
    top: -250px;
    left: 410px;
    font-size: 29px;
}

div#intro {
    background-color: #ffffff63;
    border-radius: 32px;
    height: 400px;
}

a.links {
    text-decoration: none;
}

a.links:hover {
    color: red;
    transition: 700ms ease-in-out;
}

ul.cssimglist {
    list-style: none;
}

div#dcserverinv {
    text-decoration: underline;
}

.credit {
    font-size: 10px;
    position: relative;
    top: -20px;
    left: 19px;
}

strong {
    text-decoration: underline;
}

div#impstuff {
    text-align: center;
}

ul.notice {
    text-align: center;
    list-style: none;
}

span.noticehead {
    text-decoration: underline;
}

span#whatidointro {
    text-align: center;
    align-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

table#prices {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div#dcserverinv {
    text-decoration: underline;
    text-align: center;
}

body{overflow:hidden;}